[submodule "xquic"]
	path = xquic
	url = git@github.com:ChasonTang/xquic.git
[submodule "boringssl"]
	path = boringssl
	url = git@github.com:google/boringssl.git
[submodule "c-ares"]
	path = c-ares
	url = git@github.com:c-ares/c-ares.git
[submodule "googletest"]
	path = googletest
	url = git@github.com:google/googletest.git
[submodule "llvm-project"]
	path = llvm-project
	url = git@github.com:llvm/llvm-project.git
